{{- /*gotype: github.com/cockroachlabs/short/internal/server.templateData*/ -}}
<!DOCTYPE html>
<html>
<head>
    <title>go/{{ .Link.Short }}</title>
    <link rel="icon" href="/_/asset/symbol.png"/>
    <link rel="stylesheet" href="/_/asset/short.css"/>
</head>
<body>
<form action="/_/v1/publish" method="post" class="new box">
    {{ if .EnableForce }}
        <div class="line">
            <p>The short URL {{ .Link.Short }} was already registered by
            {{ .Link.Author }}. Update the vanity link below, or select
            the hijack option to take ownership.</p>
        </div>
        <div class="line">
            <label for="Force">Hijack existing link</label>
            <input id="Force" name="Force" type="checkbox" value="true"/>
        </div>
    {{ else }}
        <input type="hidden" name="OriginalShort" value="{{ .Link.Short }}"/>
    {{ end }}
    <div class="line">
        <label for="URL">URL to link to</label>
        <input id="URL" name="URL" type="url" placeholder="https://example.com/...." required
               value="{{ .Link.URL }}"/>
    </div>
    <div class="line">
        <label for="Short">Vanity link (optional) </label>
        <span>go/</span>
        <input id="Short" name="Short" type="text" placeholder="MyVanityLink"
               pattern="[\-a-zA-Z0-9]*" value="{{ .Link.Short }}"/>
    </div>
    <div class="line">
        <label for="Listed">List for other CRL users</label>
        {{ if .Link.Listed }}
            <input id="Listed" name="Listed" type="checkbox" value="true" checked/>
        {{ else }}
            <input id="Listed" name="Listed" type="checkbox" value="true"/>
        {{ end }}
    </div>
    <div class="line">
        <label for="Public">Make public (to the whole world)</label>
        {{ if .Link.Public }}
            <input id="Public" name="Public" type="checkbox" value="true" checked/>
        {{ else }}
            <input id="Public" name="Public" type="checkbox" value="true"/>
        {{ end }}
        <input type="submit" value="Go!"/>
    </div>
</form>
</body>
</html>
