{{- /*gotype: github.com/cockroachlabs/short/internal/server.templateData*/ -}}
<!DOCTYPE html>
<html>
<head>
    <title>go/</title>
    <link rel="icon" href="/_/asset/symbol.png"/>
    <link rel="stylesheet" href="/_/asset/short.css"/>
    <script>
        function copyLink(elt, short) {
            navigator.clipboard.writeText(location.protocol + '//' + location.hostname + '/' + short);
            var reset = elt.innerText
            elt.innerText = 'Copied!';
            window.setTimeout(function () {
                elt.innerText = reset;
            }, 1000)
        }
    </script>
</head>
<body>
<a style="float: right" href="https://github.com/cockroachlabs/short">Patches welcome!</a>
<img src="/_/asset/wordmark.svg" height="48px"/>
{{- $stats := .Store.Served .Ctx -}}
<p>Welcome {{.User}}! This is a link-shortening service running on a Cockroach Cloud
    DB. {{$stats.Links}} links and {{$stats.Clicks}} clicks served.</p>
<div class="box">
    <p>Create a new link:</p>
    <form action="/_/v1/publish" method="post" class="new">
        <div class="line">
            <label for="URL">URL to link to</label>
            <input id="URL" name="URL" type="url" placeholder="https://example.com/...." required
                   autofocus/>
        </div>
        <div class="line">
            <label for="Short">Vanity link (optional) </label>
            <span>go/</span>
            <input id="Short" name="Short" type="text" placeholder="MyVanityLink"
                   pattern="[\-a-zA-Z0-9]*"/>
        </div>
        <div class="line">
            <label for="Listed">List for other CRL users</label>
            <input id="Listed" name="Listed" type="checkbox" value="true" checked/>
        </div>
        <div class="line">
            <label for="Public">Make public (to the whole world)</label>
            <input id="Public" name="Public" type="checkbox" value="true"/>
            <input type="submit" value="Go!"/>
        </div>
    </form>
</div>
<div class="box">
    <p>Your links:</p>
    {{range (.Store.List .Ctx .User)}}
        <div class="link">
            {{- if .Public -}}
                <span class="copy" onclick="copyLink(this, 'p/' + '{{.Short}}')">Copy</span>
                <a class="short" href="/p/{{.Short}}">/p/{{.Short}} (Public)</a>
            {{- else -}}
                <span class="copy" onclick="copyLink(this, '{{.Short}}')">Copy</span>
                <a class="short" href="/{{.Short}}">{{.Short}}</a>
            {{- end -}}
            <span class="url">{{.URL}}</span>
            <span class="count">{{.Count}} Clicks</span>
            <a class="edit" href="/_/edit/{{.Short}}">Edit</a>
        </div>
    {{end}}
</div>
<div class="box">
    <p>Recently-listed links:</p>
    {{ range (.Store.Listed .Ctx 100) }}
        <div class="link">
            {{- if .Public -}}
                <span class="copy" onclick="copyLink(this, 'p/' + '{{.Short}}')">Copy</span>
                <a class="short" href="/p/{{.Short}}">/p/{{.Short}} (Public)</a>
            {{- else -}}
                <span class="copy" onclick="copyLink(this, '{{.Short}}')">Copy</span>
                <a class="short" href="/{{.Short}}">{{.Short}}</a>
            {{- end -}}
            <span class="url">{{.URL}}</span>
            <span class="author">({{.Author}})</span>
        </div>
    {{ end }}
</div>
</body>
</html>
